# Eclipse
.classpath
.project
.settings/
*.orig

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
pom.xml.releaseBackup
release.properties

.gradle

# Docker container data
docker-data/